<!DOCTYPE html>
<html>
<title>Persons List TEST</title>
<body>

<h1 style="font-family:arial;text-align:center;color:#5e5e5e;"> CRUD </h1>
<hr>
<div style="text-align:center;">
<a href="/creat" style="font-family:arial;color:#999999;">CREATE</a></br>
<br>
<a href="/read" style="font-family:arial;color:#999999;">READ</a></br>
</div>
</table>
</body>
</html>
